.container {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .products {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
  }
  .products {
    flex: 2;
  }
}

span {
  font-family: Verdana;
  margin: auto;
  padding: 8px;
  border-radius: 4px;
  background-color: #faebd7;
  text-transform: lowercase;
}

.navigation {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.products-list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex: 1;
}
